:root{
    --border: 1px solid;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}
header{
    width: 480px;
    height: 780px;
    border: var(--border);
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
nav{
    display: flex;
    width: 480px;
    height: 50px;
    border: var(--border);
}
.logo{
    width: 50%;
    height: 100%;
    border: var(--border);
}
.list{
    width: 50%;
    height: 100%;
    border: var(--border);
}